// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.articlediv{
    border-radius: 20px;
    padding: 20px;
	background-color: #FFFFCC;
    text-align: left;
     border-style: solid;
    //margin-left: auto ;
    //margin-right: auto ;
    width:400px
}

.articlediv1{
    border-radius: 20px;
    padding: 20px;
	background-color: #FFFFCC;
    border-style: solid;
    text-align: left;
    //margin-left: auto ;
    //margin-right: auto ;
    width:400px
}