// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.commentdisplayed{
	background-color: #CCFF33;
    text-align: left;
    //margin-left: auto ;
    //margin-right: auto ;
    width:400px;
    border-radius: 20px;
    border-style: double;
    padding: 20px

}